@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 6px; /* Adjust the width to make it thin */
  height: 6px; /* Adjust the height to make it thin */
  background-color: transparent; /* Transparent background when not hovered */
  border-radius: 4px; /* Rounded corners */
}

::-webkit-scrollbar-thumb {
  background-color: transparent; /* Transparent thumb */
  border-radius: 4px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff6188; /* Reddish-pink color on hover */
}

/* For Firefox */
::-moz-scrollbar {
  width: 6px; /* Adjust the width to make it thin */
  height: 6px; /* Adjust the height to make it thin */
  background-color: transparent; /* Transparent background when not hovered */
  border-radius: 4px; /* Rounded corners */
}

::-moz-scrollbar-thumb {
  background-color: transparent; /* Transparent thumb */
  border-radius: 4px; /* Rounded corners */
}

::-moz-scrollbar-thumb:hover {
  background-color: #ff6188; /* Reddish-pink color on hover */
}

/* Adjust the track color as needed */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Adjust the thumb color as needed */
::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Adjust the thumb color on hover as needed */
::-webkit-scrollbar-thumb:hover {
  background-color: #ff6188; /* Reddish-pink color on hover */
}

.leaflet-botton,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}
